@use "global" as *;

.archive-home {
  margin-top: prem(84);
  @include mq(md) {
    margin-top: prem(69);
  }
}

.archive-home__inner.inner {
  max-width: prem(910);
}

.archive-home__items {
  display: grid;
  row-gap: prem(25);
  @include mq(md) {
    row-gap: prem(33);
  }
}

/* カンプ指定ホバー（指示有れば切替可能） */
// .archive-home {
//   .news-content__text {
//     transition: color 1s;
//   }

//   .news-content__text:hover {
//     @include mq(md) {
//       color: yellow;
//       transition: color 0.5s;
//     }
//   }
// }
