@use "global" as *;

.contact-layout {
  margin-top: prem(120);
  @include mq(md) {
    margin-top: prem(150);
  }
}

.contact-layout--sub {
  margin-top: prem(120);
  @include mq(md) {
    margin-top: prem(149);
    margin-bottom: prem(0);
  }
}
