@use "global" as *;

.single-body__inner {
  width: 100%;
  max-width: prem(600);
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: prem(850);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.single-body__title h1 {
  font-size: prem(20);
  line-height: prem(35);
  font-weight: $regular;
  letter-spacing: prem(0.4);
  @include mq(md) {
    font-size: prem(23);
    font-weight: $medium;
  }
}

.single-body__meta {
  margin-top: prem(14);
  @include mq(md) {
    margin-top: prem(31);
  }
}

.single-body__box {
  margin-top: prem(16);
  @include mq(md) {
    margin-top: prem(32);
  }
}

.single-body__img {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  object-fit: cover;
  @include mq(md) {
    width: 100%;
    max-width: prem(799);
    margin-right: 0;
    margin-left: 0;
  }
}

.single-body__img img {
  aspect-ratio: 375 / 251;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 799 / 427;
  }
}

.single-body__content {
  margin-top: prem(16);
  display: grid;
  gap: prem(24);
  @include mq(md) {
    margin-top: prem(32);
    gap: prem(32);
  }

  p {
    // font-size: prem(16);
    line-height: prem(35);
    letter-spacing: 0.4px;
    // margin-top: prem(24);
    @include mq(md) {
      // margin-top: prem(32);
    }
  }

  h2 {
    // margin-top: prem(24);
    font-size: prem(20);
    font-weight: $regular;
    letter-spacing: prem(2);
    line-height: 1.5;
    padding-left: prem(13);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: prem(3);
      height: 100%;
      left: prem(2);
      background-color: #c4c4c4;
    }
    @include mq(md) {
      padding-left: prem(9);
    }
  }

  h3 {
    font-size: prem(18);
    font-weight: $regular;
    letter-spacing: prem(2);
    display: block;
    line-height: 1.4;
    @include mq(md) {
      line-height: 1.4;
    }
  }
}

.single-body__underline {
  background-image: linear-gradient(to right, #ffea2e 0 25%, #fff 25%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: bottom;
  padding-bottom: prem(2);
}

.blog-detail-items h3 {
  padding-left: prem(9);
}
