@use "global" as *;

.single-body-layout {
  margin-top: prem(76);
  @include mq(md) {
    margin-top: prem(88);
  }
}

.single-body-layout--works {
  margin-top: prem(50);
  @include mq(md) {
    margin-top: prem(88);
  }
}
