@use "global" as *;

.sub-blog__items .blog-card:first-child {
  position: relative;
}

.sub-blog__items .blog-card:first-child::before {
  display: inline-block;
  position: absolute;
  top: prem(-15);
  left: prem(-16);
  color: $black;
  content: "New";
  background-color: #ffba6a;
  width: prem(60);
  height: prem(60);
  border-radius: 50%;
  text-align: center;
  line-height: prem(60);
  letter-spacing: prem(2);
  z-index: 999;
  @include mq(md) {
    top: prem(-20);
  }
}
