@use "global" as *;

.works-card__image {
  aspect-ratio: 375 / 250;
  overflow: hidden;
  position: relative;
}

.works-card__category {
  background-color: $black;
  color: $white;
  padding: prem(12) prem(20);
  letter-spacing: prem(2);
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.works-card__title {
  margin-top: prem(22);
  width: 100%;
  text-align: center;
  font-size: prem(20);
  font-weight: $medium;
  letter-spacing: prem(2);
  line-height: 1.75;
  @include mq(md) {
    margin-top: prem(11);
  }
}
