@use "global" as *;

.works-cards {
  align-items: center;
  margin-top: remf(16);
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  display: grid;
  gap: remf(49) remf(48);
  @include mq(md) {
    margin-top: remf(40);
    margin-right: auto;
    margin-left: auto;
    max-width: remf(1200);
    grid-template-columns: 1fr 1fr;
    gap: remf(114) remf(48);
  }
}
