@use "global" as *;

.works-point {
  display: block;
  position: relative;
}

.works-point + .works-point {
  margin-top: prem(56);
  @include mq(md) {
    margin-top: prem(72);
  }
}
.works-point__title {
  display: inline-block;
  border-radius: 32px;
  border: 1px solid #fff;
  background: #111;
  padding: prem(8) prem(24);
  margin-left: prem(24);
  position: absolute;
  top: 0;
  left: prem(-17);
  transform: translateY(-50%) translateX(1em);
  @include mq(md) {
    margin-left: prem(41);
  }
}

.works-point__title h3 {
  font-size: 20px;
  letter-spacing: 0.4px;
}

.works-point__text {
  // margin-top: prem(56);
  border: 1px solid #fff;
  padding: prem(56) prem(9) prem(31);
  letter-spacing: prem(0.4);
  line-height: prem(35);
  @include mq(md) {
    padding: prem(43) prem(23) prem(30);
  }
}
