@use "global" as *;

.works-body__title h1 {
  font-size: prem(20);
  line-height: prem(35);
  font-weight: $regular;
  letter-spacing: prem(0.4);
  @include mq(md) {
    font-size: prem(23);
    font-weight: $medium;
  }
}

.works-body__meta {
  margin-top: prem(14);
  @include mq(md) {
    margin-top: prem(31);
  }
}
