@use "global" as *;

.works-gallery__body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // aspect-ratio: 375/250;
  @include mq(md) {
    max-width: 800px;
  }
}
//メインスライド
.works-gallery__slider {
  height: auto;
  // margin: 0 0 10px 0;
  @include mq(md) {
    width: remf(800);
  }

  .swiper-slide {
    width: 100%;
    @include mq(md) {
      height: remf(427);
    }

    img {
      display: block;
      width: 100%;
      aspect-ratio: 375 / 250;
      margin: 0 auto;
      @include mq(md) {
        aspect-ratio: 800 / 427;
      }
    }
  }
}
.swiper-wrapper {
  transition-timing-function: linear;
}
//サムネイルスライド
.works-gallery__thumbs {
  width: 100%;
  padding: 0;
  margin-top: remf(32);
  overflow: hidden;
  @include mq(md) {
    margin-top: remf(40);
  }

  .swiper-slide {
    width: remf(163);
    height: remf(163);
    flex-shrink: 0;
    text-align: center;
    overflow: hidden;
    opacity: 0.5;
    @include mq(md) {
      width: remf(93);
      height: remf(93);
    }
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide img {
    width: auto;
    aspect-ratio: 163/163;
    // height: 100%;
    @include mq(md) {
      aspect-ratio: 93/93;
    }
  }
}

.works-gallery {
  .swiper-button-prev,
  .swiper-button-next {
    width: remf(50);
    height: remf(50);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
}
