@use "global" as *;

.works-cards {
  align-items: center;
  margin-top: prem(16);
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  display: grid;
  gap: prem(49) prem(48);
  @include mq(md) {
    margin-top: prem(40);
    margin-right: auto;
    margin-left: auto;
    max-width: prem(1200);
    grid-template-columns: 1fr 1fr;
    gap: prem(114) prem(48);
  }
}

.works-cards--related {
  display: grid;
  gap: prem(49) prem(48);
  margin-top: prem(30);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: prem(80);
    gap: prem(32) prem(32);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
}

.works-cards--related {
  .works-card__title {
    @include mq(md) {
      font-size: prem(14);
    }
  }
}
