@use "global" as *;

.blog-card {
  height: inherit;
  background-color: $white;
  color: $black;
}

.blog-card__body {
  padding-top: prem(3);
  padding-left: prem(23);
  padding-right: prem(23);
  letter-spacing: prem(1);
  font-weight: $regular;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(md) {
    padding-top: prem(4);
  }
}

.blog-card__img {
  width: 100%;
  // max-width: prem(350);
}

.blog-card__img img {
  aspect-ratio: 335 / 223;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 350 / 233;
  }
}

.blog-card__title {
  font-size: prem(18);
  font-weight: $medium;
  text-align: left;
  width: 100%;
  line-height: 2;
  letter-spacing: prem(1);
  @include mq(md) {
    line-height: 2;
  }
}

.blog-card__text {
  font-size: prem(14);
  margin-top: prem(1);
  line-height: prem(26);
  text-align: left;
  letter-spacing: prem(1);
  flex-grow: 1;
  @include mq(md) {
    margin-top: prem(4);
    line-height: 2;
  }
}

.blog-card__info {
  margin-top: auto;
  padding: prem(7) prem(23) prem(16);
  @include mq(md) {
    padding: prem(5) prem(23) prem(16);
  }
}

.related-article__cards {
  .blog-card__body {
    padding-top: prem(3);
    padding-left: prem(23);
    padding-right: prem(23);
    @include mq(md) {
      padding-top: prem(4);
      padding-top: prem(3);
      padding-left: prem(8);
      padding-right: prem(8);
    }
  }

  .blog-card__img img {
    @include mq(md) {
      aspect-ratio: 251 / 148;
    }
  }

  .blog-card__title {
    @include mq(md) {
      font-size: prem(14);
    }
  }

  .blog-card__text {
    font-size: prem(14);
    margin-top: prem(1);
    line-height: prem(26);
    text-align: left;
  }

  .blog-card__info {
    margin-top: auto;
    padding: prem(7) prem(23) prem(16);
    @include mq(md) {
      padding: prem(3) prem(8) prem(14);
    }
  }
}
