@use "global" as *;

.breadcrumb__body {
  display: flex;
  gap: 0 rem(1);
  list-style: none;
  padding: 0;
  font-size: rem(16);
  letter-spacing: rem(1);
}

.breadcrumb__body li {
  display: flex;
  align-items: center;
}

// .breadcrumb__body li:not(:last-child)::after {
//   display: inline-block;
//   transform: rotate(45deg);
//   width: 0.5em;
//   height: 0.5em;
//   margin-left: 10px;
//   border-top: 1px solid $white;
//   border-right: 1px solid $white;
//   content: "";
// }

.breadcrumb__body a {
  color: $white;
}
.breadcrumb__arrow {
  margin-left: rem(3);
}
