@use "global" as *;

.common-meta__info {
  display: flex;
  align-items: center;
  gap: prem(27);
}

.common-meta__date {
  min-width: prem(80);
  flex-shrink: 0;
  letter-spacing: prem(0.4);
}

.common-meta__category {
  font-size: prem(16);
  font-weight: $regular;
  padding: prem(8) prem(20);
  border: 1px solid $white;
  letter-spacing: prem(2);
  flex-shrink: 0;
  @include mq(md) {
    font-weight: $medium;
    white-space: nowrap;
  }
}
