@use "global" as *;

.footer-layout {
  margin: rem(52) 0 rem(60);
  @include mq(md) {
    // margin: rem(24) 0 rem(30);
    margin-top: rem(24);
    margin-bottom: rem(30);
  }
}

.footer-layout.footer-layout--sub {
  @include mq(md) {
    margin-bottom: rem(20);
  }
}