@use "global" as *;

.footer-layout {
  // margin: rem(52) 0 rem(60);
  margin: rem(49) 0 rem(60);
  @include mq(md) {
    margin-top: rem(24);
    margin-bottom: rem(30);
  }
}

.footer-layout.footer-layout--sub {
  @include mq(md) {
    margin-top: rem(26);
    margin-bottom: rem(22);
  }
}