@use "global" as *;

.wp-pagenavi {
  text-align: center;
  justify-content: center;
  list-style-type: none;
  line-height: 1;
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-block;
  color: $white;
  border: 1px solid $white;
  font-weight: $regular;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-size: prem(16);
  @include mq(md) {
    transition: 0.2s ease-in-out;
  }
}

.wp-pagenavi a.page.smaller,
.wp-pagenavi a.page.larger,
.wp-pagenavi span.current {
  padding: prem(3) prem(7);
  margin: 0 prem(6);
}

.wp-pagenavi a:hover {
  color: $gray;
  background-color: $white;
}

.wp-pagenavi a.previouspostslink,
.wp-pagenavi a.nextpostslink {
  padding: prem(3) prem(10);
}
.previouspostslink,
.nextpostslink,
.pagination--detail .current {
  min-width: prem(71);
}

.wp-pagenavi span.current {
  background-color: $white;
  color: $gray;
  pointer-events: none;
}

.pagination--list .previouspostslink {
  margin-right: prem(14);
}

.pagination--list .nextpostslink {
  margin-left: prem(14);
}
.pagination--detail .previouspostslink {
  margin-right: prem(48);
}

.pagination--detail .nextpostslink {
  margin-left: prem(48);
}
