@use "global" as *;

.pagination-layout {
  margin-top: prem(77);
  @include mq(md) {
    margin-top: prem(104);
  }
}

.pagination-layout.pagination--detail {
  margin-top: prem(80);
  @include mq(md) {
    margin-top: prem(104);
  }
}
