@use "global" as *;

.related-blog__cards {
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.related-blog .blog-cards {
  @include mq(md) {
    gap: rem(32) rem(32);
  }
}

.related-blog .blog-card__body {
  @include mq(md) {
    padding-top: rem(3);
    padding-left: rem(8);
    padding-right: rem(8);
  }
}

.related-blog .blog-card__title {
  @include mq(md) {
    font-size: rem(14);
    letter-spacing: 1;
    line-height: 2.5;
  }
}

.related-blog .blog-card__info {
  @include mq(md) {
    padding-top: rem(3);
    padding-left: rem(8);
    padding-right: rem(8);
    padding-bottom: rem(14);
  }
}