@use "global" as *;

.blog-cards--related {
  display: grid;
  gap: prem(24) prem(25);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: prem(32) prem(32);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
}
