@use "global" as *;

.related-card {
  height: inherit;
  background-color: $white;
}

.related-card__body {
  padding-top: rem(3);
  padding-left: rem(23);
  padding-right: rem(23);
  letter-spacing: rem(1);
  font-weight: $regular;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(md) {
    padding-top: rem(4);
    padding-top: rem(3);
    padding-left: rem(8);
    padding-right: rem(8);
  }
}

.related-card__img {
  width: 100%;
}

.related-card__img img {
  aspect-ratio: 350 / 233;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 251 / 148;
  }
}

.related-card__title {
  font-size: rem(18);
  font-weight: $medium;
  text-align: left;
  width: 100%;
  line-height: 2;
  letter-spacing: 1;
  @include mq(md) {
    font-size: rem(14);
    line-height: 2;
  }
}

.related-card__text {
  font-size: rem(14);
  margin-top: rem(1);
  line-height: rem(26);
  text-align: left;
  letter-spacing: calc(1 / 14) * 1em;
  flex-grow: 1;
  @include mq(md) {
    margin-top: rem(4);
  }
}

.related-card__info {
  margin-top: auto;
  padding: rem(7) rem(23) rem(16);
  @include mq(md) {
    padding: rem(3) rem(8) rem(14);
  }
}

// .related-blog .blog-card__info {
//   @include mq(md) {
//     padding-top: rem(3);
//     padding-left: rem(8);
//     padding-right: rem(8);
//     padding-bottom: rem(14);
//   }
// }
