@use "global" as *;

.related-article__headline {
  text-align: center;
  display: inline-block;
  font-size: prem(16);
  color: $white;
  width: 100%;
  background-color: $gray;
  letter-spacing: prem(2);
  line-height: 1;
  border: 1px solid $white;
  padding: prem(12) prem(9);
  @include mq(md) {
    padding: prem(11) prem(9);
  }
}

.related-article__cards {
  margin-top: prem(30);
  @include mq(md) {
    margin-top: prem(80);
  }
}
