@use "global" as *;

.section-title {
  position: relative;
  line-height: 1;
  max-width: $inner;
  margin: 0 auto;
  @include mq(md) {
    max-width: prem(1150);
    padding: 0 25px;
  }
}

.main-title {
  font-size: prem(20);
  letter-spacing: calc(2 / 20) * 1em;
  text-align: center;
  font-weight: $regular;
  @include mq(md) {
    font-size: prem(30);
    letter-spacing: prem(2);
  }
}

.main-title.main-title--sub {
  font-size: prem(25);
  @include mq(md) {
    font-size: prem(30);
  }
}

.sub-title {
  font-size: prem(50);
  font-family: $second-font-family;
  color: $yellow;
  letter-spacing: prem(2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  text-transform: capitalize;
  z-index: -1;
  font-weight: $regular;
  @include mq(md) {
    font-size: prem(110);
    transform: initial;
    left: 0;
    padding: 0 prem(25);
  }
}

.subtitle--right {
  @include mq(md) {
    left: initial;
    right: 0;
  }
}
