@use "global" as *;

.sub-contact {
  background-color: #3d3d3d;
  padding: rem(70) 0 rem(65);
  @include mq(md) {
    padding: rem(154) 0 rem(149);
  }
}

.sub-contact__header {
  position: relative;
  z-index: 1;
}
.sub-contact__subtitle {
  top: rem(-36);
  @include mq(md) {
    top: rem(-72);
  }
}

.sub-contact__title {
  font-size: rem(25);
}

.sub-contact__text {
  margin-top: rem(20);
  letter-spacing: calc(2 / 16) * 1em;
  line-height: calc(23.17 / 16);
  @include mq(md) {
    margin-top: rem(24);
    text-align: center;
  }
}

.sub-contact__inner {
  align-items: center;
}

.sub-contact__button-wrapper {
  text-align: center;
  margin-top: rem(47);
  @include mq(md) {
    margin-top: rem(54);
  }
}