@use "global" as *;

.sub-contact-layout {
  margin-top: rem(120);
  @include mq(md) {
    margin-top: rem(149);
    margin-bottom: rem(0);
  }
}

.sub-contact-layout--p-contact {
  margin-top: rem(98);
}
