@use "global" as *;

.tab {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(8);
  row-gap: rem(14);
  align-items: center;
  letter-spacing: rem(2);
  justify-content: flex-start;
  @include mq(md) {
    column-gap: rem(29);
  }
}
.tab__label {
  text-align: center;
  color: White;
  padding: rem(7) rem(8);
  font-size: rem(16);
  line-height: 1;
  letter-spacing: rem(2);
  border-bottom: solid 1px #000;
  @include mq(md) {
    transition: 0.3s;
    padding: rem(18) rem(10);
    border-bottom: none;
  }
}

.tab__label:hover {
  background-color: $white;
  color: $gray;
}

.tab__label:not(:hover) {
  text-decoration: none;
}

.tab-content {
  width: 100%;
  display: none;
}
/* アクティブなタブ */
.tab-label.active {
  background: $white;
  color: $black;
}
