@use "global" as *;

.top-button-layout {
  width: prem(45);
  height: prem(45);
  position: fixed;
  bottom: prem(41);
  right: prem(22);
  z-index: 99;
  @include mq(md) {
    bottom: prem(32);
    right: prem(31);
  }
}

.top-button-layout.top-button-layout--sub {
  right: prem(21);
  @include mq(md) {
    right: prem(32);
    bottom: prem(27);
  }
}
