@use "global" as *;

.works__subtitle {
  top: prem(-41);
  @include mq(md) {
    top: prem(-34);
  }
}

.works__header {
  margin-left: auto;
  margin-right: auto;
}
.works__body {
  margin-top: prem(54);
  // width: 100%;
  @include mq(md) {
    margin-top: prem(39);
  }
}

.works__content {
  width: 100%;
  @include mq(md) {
    padding: prem(80) 0;
    background: linear-gradient(90deg, transparent 0% calc(50% - prem(256)), #333 calc(50% - prem(256)) 100vw);
  }
}

// .works__content .common__item-img {
//   @include mq(md) {
//     margin: 0 0 0 prem(31);
//   }
// }
